$royalblue: #4183D7;
$middleblue: #3498db;
$pictonblue: #59ABE3;
$niceblue: #64AFD2;; 

header,
main,
footer {
    padding-left: 300px;
}

table.highlight>tbody>tr:hover {
    background-color: #bbdefb;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

//navbar
header {
    nav {
        background: white;
        border-bottom: 1px solid #dbe2e8;
        box-shadow: inset 0 0 0 0 #dbe2e8, 0px 2px 1px 0px rgba(47, 61, 73, 0.05);
        .nav-wrapper {
            .page-title {
                font-size: 20px;
                color: #2e3d49;
                margin-left: 20px;
            }
        }
    }
    ul {
        li {
            .active {
                border-left: 4px solid white;
            }
        }
    }
}

//admin-team
#admin-team {
    padding-top: 30px;
    padding-bottom: 100px;
}

//admin-pengumuman
#admin-pengumuman {
    padding-top: 30px;
    padding-bottom: 100px;
}

//admin-peserta
#admin-peserta {
    padding-top: 30px;
    padding-bottom: 100px;
}

//admin-pembayaran
#admin-pembayaran {
    padding-top: 30px;
    padding-bottom: 100px;
}

//admin statistik
#admin-statistik {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #fafbfc;
}

#admin-edit-peserta {
    padding-top: 35px;
    padding-bottom: 100px;
    .container {
        .row {
            .col {
                .card {
                    .card-image {
                        .date {
                            color: #ffffff;
                            position: absolute;
                            font-size: 15px;
                            font-weight: 400;
                            bottom: 0;
                            left: 0;
                            padding: 5px;
                            background-color: $niceblue;
                        }
                    }
                    .card-content {
                        padding-top: 10px;
                        .card-title {
                            font-weight: 300;
                            color: $niceblue;
                            line-height: 30px;
                        }
                    }
                    .card-action {
                        z-index: initial;
                    }
                }
            }
        }
    }
}
//footer
footer {
    bottom: 0;
    background-color: #fafbfc;
    border-top: 1px solid #dbe2e8;
    .container {
        .row {
            margin-bottom: 0;
            .col {
                .copyright {
                    color: #2e3d49;
                    padding-top: 6px;
                    @media screen and (max-width: 480px) {
                        text-align: center;
                    }
                }
                .social-media {
                    position: relative;
                    font-size: 17px;
                    display: flex;
                    flex-direction: row;
                    color: #2e3d49;
                    padding: 10px;
                    float: right;
                    @media screen and (max-width: 480px) {
                        float: none;
                        justify-content: center;
                    }
                    .social-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        transition: border-radius .3s, background-color .5s;
                        background-color: transparent;
                        margin-right: 5px;
                        a {
                            color: #2e3d49;
                            padding: 20%;
                        }
                    }
                }
            }
        }
    }
}
