//variables
$royalblue: #4183D7;
$middleblue: #3498db;
$pictonblue: #59ABE3;
$niceblue: #7dbddb;
$break-small: 480px;
$break-medium: 768px;
$break-large: 1200px;
html,
body {
    background-color: #fafbfc;
}

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

.file-field {
    position: relative;
    padding-left: 11.25px;
    padding-right: 11.25px;
}

.royal-text {
    color: $royalblue;
}

.btn-large-blue {
    border-radius: 1000px;
    height: 45px;
    line-height: 45px;
    font-size: 15spx;
    background-color: #64AFD2;
    color: white;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    letter-spacing: .5px;
    padding: 0 35px;
    border: 1px solid #64AFD2;
    &:hover {
        background-color: transparent;
        color: #64AFD2;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
        border: 1px solid #64AFD2;
    }
}

.btn-large-yellow {
    border-radius: 1000px;
    height: 45px;
    line-height: 45px;
    font-size: 15spx;
    background-color: #fbc02d;
    color: white;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    letter-spacing: .5px;
    padding: 0 35px;
    border: 1px solid #fbc02d;
    &:hover {
        background-color: transparent;
        color: #fbc02d;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
        border: 1px solid #fbc02d;
    }
}

.btn-large-red {
    border-radius: 1000px;
    height: 45px;
    line-height: 45px;
    font-size: 15spx;
    background-color: #f44336;
    color: white;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    letter-spacing: .5px;
    padding: 0 35px;
    border: 1px solid #f44336;
    &:hover {
        background-color: transparent;
        color: #f44336;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
        border: 1px solid #f44336;
    }
}

.btn-blue {
    border-radius: 100px;
    // height: 45px;
    // line-height: 45px;
    // font-size: 15spx;
    background-color: #64AFD2;
    color: white;
    transition: all .3s ease-in-out;
    border: 1px solid white;
    box-shadow: none;
    // letter-spacing: .5px;
    // padding: 0 35px;
    border: 1px solid #64AFD2;
    &:hover {
        background-color: transparent;
        color: #64AFD2;
        transition: all .3s ease-in-out;
        box-shadow: none;
        border: 1px solid white;
        letter-spacing: .5px;
        border: 1px solid #64AFD2;
    }
}

//edit materialize.css
input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #64AFD2;
    box-shadow: 0 1px 0 0 #64AFD2;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #64AFD2;
    box-shadow: 0 1px 0 0 #64AFD2;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label,
input[type=datetime-local]:focus:not([readonly])+label,
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #64afd2;
}
.side-nav {
    width: 88px;
    box-shadow: none;
}
header {
    nav {
        background: white;
        border-bottom: 1px solid #dbe2e8;
        box-shadow: inset 0 0 0 0 #dbe2e8, 0px 2px 1px 0px rgba(47, 61, 73, 0.05);
        .nav-wrapper {
            .page-title {
                font-size: 20px;
                color: #2e3d49;
                margin-left: 20px;
            }
        }
    }
    ul {
        li {
            .active {
                border-left: 4px solid white;
            }
        }
    }
   .second-side-nav {
        li {
            border-bottom: 1px solid #b5d2e0;
            
            .active {
                border: 1px dashed #FAFBFC;
            }
        }
    }
}

//dasboard
#dashboard {
    padding-top: 20px;
    padding-bottom: 100px;
    .container {
        position: relative;
        .title-card {
            //            line-height: 30px;
            position: relative;
            margin-bottom: 10px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .row {
            background-color: white;
            border-left: 3px solid #64AFD2;
            padding: 25px;
            .col {
                form {
                    .row {
                        border-left: none;
                        padding: 0px;
                    }
                }
                .collection {
                    border: none;
                }
            }
        }
    }
}

//penyisihan
#penyisihan {
    padding-top: 20px;
    padding-bottom: 100px;
    .container {
        position: relative;
        .title-card {
            position: relative;
            margin-bottom: 30px;
            margin-top: 30px;
            text-transform: uppercase;
        }
        .row {
            background-color: white;
            border-left: 3px solid #64AFD2;
            padding: 25px;
            .col {
                form {
                    .row {
                        border-left: none;
                        padding: 0px;
                    }
                }
                ol {
                    
                    li {
                        list-style: decimal;
                    }
                }
            }
        }
    }
}

//biodata
#biodata {
    .form-biodata {
        padding-top: 50px;
        padding-bottom: 100px;
        .container {
            .row {
                background-color: white;
                border-left: 3px solid #64AFD2;
                form {
                    .kiri {
                        .headform {
                            .judul {
                                color: $niceblue;
                            }
                            .row {
                                border-left: none;
                                .input-field {
                                    .material-icons {
                                        color: $niceblue;
                                    }
                                }
                            }
                        }
                    }
                    .kanan {
                        .headform {
                            .judul {
                                color: $niceblue;
                            }
                            .row {
                                border-left: none;
                                .input-field {
                                    .material-icons {
                                        color: $niceblue;
                                    }
                                }
                            }
                        }
                        @media screen and (min-width: $break-small) {
                            border-left: 1px solid #e6e6e6;
                        }
                    }
                }
            }
        }
    }
}

//tim detail
#tim-detail {
    padding-top: 35px;
    padding-bottom: 100px;
    .container {
        .row {
            .col {
                .title-card {
                    position: relative;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    text-transform: uppercase;
                }
                .card {
                    .card-image {
                        img {
                            
                        }
                    }
                    .card-stacked {
                        .card-content {
                            ul {
                                margin-top: 0px;
                                margin-bottom: 0px;
                                li {
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//pengaturan
#pengaturan {
    padding-top: 20px;
    padding-bottom: 100px;
    .container {
        position: relative;
        .title-card {
            //            line-height: 30px;
            position: relative;
            margin-bottom: 10px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .row {
            background-color: white;
            border-left: 3px solid #64AFD2;
            padding: 25px;
            .col {
                form {
                    .row {
                        border-left: none;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

//pembayaran
#pembayaran {
    padding-top: 20px;
    padding-bottom: 100px;
    .container {
        position: relative;
        .title-card {
            //            line-height: 30px;
            position: relative;
            margin-bottom: 10px;
            margin-top: 20px;
            text-transform: uppercase;
        }
        .row {
            background-color: white;
            border-left: 3px solid #64AFD2;
            padding: 25px;
            .col {
                form {
                    .row {
                        border-left: none;
                        padding: 0px;
                    }
                }
            }
        }
    }
}

//berita
#news {
    padding-top: 35px;
    padding-bottom: 100px;
    .container {
        .row {
            .col {
                .card {
                    .card-image {
                        .date {
                            color: #ffffff;
                            position: absolute;
                            font-size: 15px;
                            font-weight: 400;
                            bottom: 0;
                            left: 0;
                            padding: 5px;
                            background-color: $niceblue;
                        }
                    }
                    .card-content {
                        padding-top: 10px;
                        .card-title {
                            font-weight: 300;
                            color: $niceblue;
                            line-height: 30px;
                        }
                    }
                    .card-action {
                        z-index: initial;
                    }
                }
            }
        }
    }
}

footer {
    bottom: 0;
    background-color: #fafbfc;
    border-top: 1px solid #dbe2e8;
    .container {
        .row {
            margin-bottom: 0;
            .col {
                .copyright {
                    color: #2e3d49;
                    padding-top: 6px;
                    @media screen and (max-width: 480px) {
                        text-align: center;
                    }
                }
                .social-media {
                    position: relative;
                    font-size: 17px;
                    display: flex;
                    flex-direction: row;
                    color: #2e3d49;
                    padding: 10px;
                    float: right;
                    @media screen and (max-width: 480px) {
                        float: none;
                        justify-content: center;
                    }
                    .social-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        transition: border-radius .3s, background-color .5s;
                        background-color: transparent;
                        margin-right: 5px;
                        a {
                            color: #2e3d49;
                            padding: 20%;
                        }
                    }
                }
            }
        }
    }
}